.events__container {
  position: relative;
  width: 480px;
  height: 580px;
  left: 43%;
  top: 12%;
  background: rgb(220, 20, 60);
  background: linear-gradient(
    45deg,
    rgba(220, 20, 60, 1) 0%,
    rgba(224, 46, 81, 1) 16%,
    rgba(229, 78, 108, 1) 47%,
    rgba(237, 135, 155, 1) 80%,
    rgba(248, 207, 215, 1) 100%
  );
  border-radius: 20px;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s;
}

.events__container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgb(220, 20, 60);
  transition: 0.5s;
}

.events__container .events__image {
  max-width: 100%;
  max-height: 80%;
}

.events__content h3 {
  font-weight: bold;
}

.events__content p {
  font-weight: lighter;
}

.events__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: default;
  position: relative;
  top: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.events__button {
  position: relative;
  display: flex;
  align-items: flex-start;
  top: 60px;
  left: 20px;
  background: none;
  cursor: pointer;
  color: #fff;
  font-weight: lighter;
}
